{% extends 'base.html' %}
{% block title %}Пользовательское соглашение{% endblock %}
{% block content %}
<h1 class="mb-4">Публичная оферта и политика возврата</h1>
<div class="card p-4">
    <h5>1. Общие положения</h5>
    <p>Настоящий документ является официальным предложением (публичной офертой) интернет-магазина «Магазин Рыбок» и содержит все существенные условия покупки товаров. Акцептом оферты является оформление заказа на сайте.</p>
    
    <h5>2. Возврат и обмен</h5>
    <p>В соответствии со ст. 26.1 Закона РФ «О защите прав потребителей», покупатель вправе отказаться от товара надлежащего качества в течение 7 дней с момента передачи. Возврат средств осуществляется в течение 10 рабочих дней на реквизиты, указанные покупателем. Живые гидробионты возврату не подлежат, за исключением случаев доставки неживого товара.</p>
    
    <h5>3. Персональные данные</h5>
    <p>Оформляя заказ, пользователь даёт согласие на обработку персональных данных в целях исполнения договора купли-продажи (ФЗ-152).</p>
    
    <h5>4. Реквизиты</h5>
    <p>ИП Власов К.Е, ИНН: 0000000000, ОГРНИП: 0000000000000, email: support@fish-shop.ru</p>
</div>
{% endblock %}